# Base de Datos (Docker)
postgres-data/

# Dependencias
node_modules/
backend/app/node_modules/
backend/node_modules/

# Entorno
.env
backend/.env
backend/app/.env

# IDEs
.idea/
.vscode/

# Logs y Temporales
*.log
test_register.json
